<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Page Manager</title>
</head>

<body>
    <div id="app" class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#!">Page Manager</a>
        </nav>

        <div class="my-4">
            <h3>Статусы:</h3>
            <button class="btn" :class="'btn-' + status.color"
                v-for="(status, index) in statuses">{{ status.label }}</button>
        </div>

        <div>
            <h3>Страницы в работе:</h3>
            <button class="btn btn-lg rounded-circle mr-4" :class="'btn-' + statuses[page.status].color"
                v-for="(page, index) in pages" @click="nextStatus(page)" :title="page.note">{{ page.number }}</button>
            <div class="my-4">
                <button class="btn btn-info" @click="addPage">Добавить страницу</button>
            </div>
        </div>
        <div class="my-4">
            <h4>Подробнее</h4>
            <ul class="list-group">
                <li v-for="(page, index) in pages" :key="index" class="list-group-item form-inline"
                    :class="'bg-'+statuses[page.status].color">№ {{ page.number }}.
                    <strong> {{ statuses[page.status].label }}</strong>. <input class="form-control"
                        v-model="page.note">
                </li>
            </ul>
        </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="js/page-manager.js"></script>
</body>

</html>